body {
  background-color: rgba(204, 236, 189, 0.5);
  margin: 0; 
  font-family: 'Arial', sans-serif;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #669933;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #26891d;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px 0;
  transition: background-color 0.3s;
}

li:nth-child(odd) {
  background-color: #f2f2f2;
}

p {
  font-size: 24px;
  font-weight: bold;
  animation: fadeInOut 1s infinite;
}

@keyframes fadeInOut {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}


.miContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorPrincipal {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  margin-top: 50px; 
}

.seccionRuleta {
  flex: 1;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px; 
}

.seccionGanadores {
  flex: 1;
  padding-left: 20px;
}

.miLogo {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 150px;
  height: auto;
}

.miLogoDerecha {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 150px;
  height: auto;
}

.headerRuleta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
}

.tituloRuleta {
  font-size: 24px; 
  text-align: center;
  margin-bottom: 20px;
  color: #425F57; 
  font-weight: bold;
}



.miBoton {
  padding: 15px 30px; 
  margin-bottom: 20px;
  font-size: 22px; 
  cursor: pointer;
  border-radius: 8px;
  background-color: #669933;
  color: white;
  transition: background-color 0.3s;
}


.miTextoDestacado {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.miLista {
  width: 50%; 
  max-width: 600px;
  list-style-type: none; 
  padding: 0; 
}

.miItemLista {
  font-size: 18px;
  padding: 5px 0; 
  border-bottom: 1px solid #ccc; 
}

.felicitaciones {
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px; 
  color: green; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Inicial*/
/* .ruletaVisual {
  width: 100px;
  height: 100px;
  border-radius: 50%;  
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db;
  margin: 20px 0; 
}

.girando{
  animation: spin 0.5s linear infinite;
} */

/*Altenativa*/

.ruletaVisual {
  width: 350px;
  height: 350px;
  background: conic-gradient(#A8E890, #749F82, #A8E890, #CFFF8D);
  border-radius: 50%;
  margin-top: 1em;
  position: relative;
}

.sector {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red; /* Color predeterminado */
  top: 0;
  left: 0;
  transform-origin: 50% 50%;
  clip-path: polygon(50% 50%, 100% 50%, 100% 0);
}

.sector:nth-child(1) { background-color: green; transform: rotate(0deg); }
.sector:nth-child(2) { background-color:#50CB93; transform: rotate(60deg); }
.sector:nth-child(3) { background-color: green; transform: rotate(120deg); }
.sector:nth-child(4) { background-color: #71EFA3; transform: rotate(180deg); }
.sector:nth-child(5) { background-color: green; transform: rotate(240deg); }
.sector:nth-child(6) { background-color: #71EFA3; transform: rotate(300deg); }


@keyframes girarRuleta {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.girando {
  animation: girarRuleta 0.5s infinite linear; 
}

.flecha {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid black;
  margin: 10px auto 0 auto;
}

@keyframes parpadeo {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

.parpadeo {
  animation: parpadeo 1s infinite;
}




